h1, h2, #zen-summary{
  text-align: center;
  color: #00A6A6;
}

h1{
  font-size: 5em;
  margin-bottom: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  color: #EFCA08;
  text-decoration: none;
}

.preamble, .participation, .requirements{
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}

.preamble, .participation, .requirements{
  background-color: #F49F0A;
  color: #fff;
  box-shadow: 10px 10px #EFCA08;
}

.explanation, .benefits{
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}
